{% include 'components/navbar.html' %}

<div class="p-4 mx-14">
    <h1 class="text-3xl text-center py-5 text-green-600 font-bold">Contact Us</h1>
    <p class="text-xl text-left py-3 px-6 text-gray-800">
      We’re here to help! If you have any questions or need assistance, please don’t hesitate to reach out to us. At <span class="text-green-600 font-semibold">KrishiBazar</span>, we value our customers and are committed to providing you with the support you need.
    </p>
  
    <h2 class="text-2xl text-center py-5 text-green-600 font-semibold">Get in Touch</h2>
    <p class="text-xl text-left py-3 px-6 text-gray-800">
      <strong>Customer Support:</strong> For general inquiries, assistance with orders, or any other questions, please contact our customer support team at:
    </p>
    <p class="text-xl text-left py-3 px-6 text-gray-800">
      <strong>Email:</strong> <a href="mailto:support@krishibazar.com" class="text-green-600 underline">support@krishibazar.com</a>
    </p>
    <p class="text-xl text-left py-3 px-6 text-gray-800">
      <strong>Phone:</strong> <a href="tel:+1234567890" class="text-green-600 underline">+977 9840032508</a>
    </p>
  
    <h2 class="text-2xl text-center py-5 text-green-600 font-semibold">Our Address</h2>
    <p class="text-xl text-left py-3 px-6 text-gray-800">
      Visit us at our office or send us mail at:
    </p>
    <p class="text-xl text-left py-3 px-6 text-gray-800">
      <strong>Address:</strong><br />
      KrishiBazar HQ,<br />
      123 Agricultural Lane,<br />
      Farmington, CA 90210,<br />
      NEPAL
    </p>
  
    <h2 class="text-2xl text-center py-5 text-green-600 font-semibold">Business Hours</h2>
    <p class="text-xl text-left py-3 px-6 text-gray-800">
      We are available to assist you during the following hours:
    </p>
    <p class="text-xl text-left py-3 px-6 text-gray-800">
      <strong>Monday - Friday:</strong> 9:00 AM - 6:00 PM<br />
      <strong>Saturday:</strong> 10:00 AM - 4:00 PM<br />
      <strong>Sunday:</strong> Closed
    </p>
  
    <p class="text-xl text-left py-3 px-6 text-gray-800">
      We look forward to hearing from you and assisting with any needs you may have. Thank you for choosing KrishiBazar!
    </p>
  </div>
  